<div *ngIf="loggedInUser === null">
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="30px grid">
    <div fxFlex="30%" fxFlex.xs="100%">
      <mat-card style="text-align: center;">
        <img mat-card-image src="assets/images/customer-sign-in.jpg" alt="Customer Sign In">
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="customerLogin()">CUSTOMER SIGN IN</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="30%" fxFlex.xs="100%">
      <mat-card style="text-align: center;">
        <img mat-card-image src="assets/images/employee-sign-in.jpg" alt="Employee Sign In">
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="employeeLogin()">EMPLOYEE SIGN IN</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="loggedInUser !== null">
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="30px grid">
    <div fxFlex="80%" fxFlex.xs="100%">
      <mat-card style="text-align: center;">
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="getOrders()">Get Orders (Customer)</button>
          <button mat-raised-button color="secondary" (click)="getSuppliers()">Get Suppliers (Employee)</button>
          <button mat-raised-button color="secondary" (click)="getProductCategories()">Get Product Categories (Employee)</button>
          <button mat-raised-button color="secondary" (click)="addSupplier()">Add Supplier (Employee)</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div style="margin-top: 2em;">
    <table mat-table [dataSource]="apiData">
      <ng-container *ngFor="let column of apiColumns;" matColumnDef="{{ column }}">
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="apiColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: apiColumns"></tr>
    </table>
  </div>
</div>
