/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { 
  height: 100%; 
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
.container { 
  margin: 1%; 
}
snack-bar-container.success  {
  background-color: rgb(31, 121, 39);
  color: rgb(255, 255, 255);
}
snack-bar-container.error  {
  background-color: rgb(255, 0, 39);
  color: rgb(255, 255, 255);
}
snack-bar-container.notification simple-snack-bar  {
  font-size: 18px !important;
}
simple-snack-bar > span {
  margin: 0 auto;
  text-align:center !important;
}